{% extends "repo/base.html" %}

{%- block head %}
    <link rel="stylesheet" type="text/css" href="/highlight-{{ crate::HIGHLIGHT_CSS_HASH.get().unwrap() }}.css" />
    <link rel="stylesheet" type="text/css" href="/highlight-dark-{{ crate::DARK_HIGHLIGHT_CSS_HASH.get().unwrap() }}.css" />
{%- endblock -%}

{% block diff_nav_class %}active{% endblock %}

{% block content %}
<h3>Comparing {{ diff.id0 }}..{{diff.id1 }}</h3>
<h2>Diff</h2>
<pre class="diff">{{ diff.diff_stats|safe }}
{{ diff.diff|safe }}</pre>
{% endblock %}
