// $darkModeHighlightColour: #eee;
// $darkModeTextColour: #abb2bf;
// $asideColour: #888;

$bg: #171717; // #05050a;

$bgAccent: #1f1f1f; // #141719; // #ccc

$primary: #eee; // #777
$normal-text-link-hover: #3af; // #777
$nav-link: #777;
$nav-link-active: #3af; // #777
// $text1: #a9b1d6; // abb2bf
$always-active-link: #28d;
$dir-link: #28d;
// $text: #b5bdca; // abb2bf
$text: #eee; // abb2bf
$text2: #888; // abb2bf
$text3: #000000; // abb2bf

$diff-remove-bg: rgba(229, 83, 75, 0.20);
$diff-add-bg: rgba(70, 149, 74, 0.15); // #485e30

span.age-mins {
    color: #7f7;
    font-weight: bold;
}

span.age-hours {
    color: #7f7;
}

span.age-days {
    color: #9d9;
}

span.age-weeks {
    color: #bbb;
}

span.age-months {
    color: #888;
}

span.age-years {
    color: #666;
}

// span.insertions { color: #7f7; }
// span.deletions { color: #e33; }