@import 'colours';

pre.diff {
  color: $text !important;
}

.diff-add-line::before,
.diff-remove-line::before,
.diff-context::before {
  display: inline-block;
  color: $text2;
  -webkit-user-select: none;
}

.diff-file-header {
  font-weight: bold;
}

.diff-file-header>span>span {
  font-weight: normal;
}

.diff-add-line {
  background: $diff-add-bg;
  display: block;

  &::before {
    content: '+ ';
  }
}

.diff-remove-line {
  background: $diff-remove-bg;
  display: block;

  &::before {
    content: '- ';
  }
}

.diff-context {
  &::before {
    content: '  ';
  }
}